{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<!-- Top Bar -->
<div id="topBar">
  <div class="container">

    <!-- right -->
    <ul class="top-links list-inline pull-right">
      <li class="text-welcome hidden-xs">Welcome to Smarty, <strong>John Doe</strong></li>
      <li class="hidden-xs"><a href="page-login-1.html">LOGIN</a></li>
      <li class="hidden-xs"><a href="page-register-1.html">REGISTER</a></li>
      <li class="hidden-xs"><a href="#">EN</a></li>
      <li class="hidden-xs"><a href="#">DE</a></li>
    </ul>

    <!-- left -->
    <!--<ul class="top-links list-inline">

      <li>
        <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><img class="flag-lang" src="assets/images/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a>
        <ul class="dropdown-langs dropdown-menu">
          <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/flags/de.png" width="16" height="11" alt="lang" /> GERMAN</a></li>
          <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/flags/ru.png" width="16" height="11" alt="lang" /> RUSSIAN</a></li>
          <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/flags/it.png" width="16" height="11" alt="lang" /> ITALIAN</a></li>
        </ul>
      </li>
    </ul> -->

  </div>
</div>
<!-- /Top Bar -->
