<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="blockquote" options="{group: 'FCE'}" label="Blockquote">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
			<flux:field.text name="quote.block" required="true" />
			<flux:field.input name="quote.author" required="true" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<p><strong>Blockquote:</strong></p>
		<!-- If you wish, place custom backend preview content here -->
		<p>{quote.block}</p>
		<small>{quote.author}</small>
	</f:section>

	<f:section name="Main">
		<blockquote>
			<p>{quote.block}</p>
			<cite>{quote.author}</cite>
		</blockquote>
	</f:section>
</div>
